/* IMPORTANT INFORMATION
    Using BEM architecture: http://getbem.com/
    Developed with a mobile-first approach; all desktop styling should be in 
    media queries
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


input, textarea, button {
    outline: none;

    &:focus, &:active, &:focus-within { 
        outline: none;
    }
}


@import './sharable/colors';
@import './sharable/fonts';

@import './sections/lightbox';
@import './sections/header';
@import './sections/events';
@import './sections/mailing';
@import './sections/past';
@import './sections/board';
@import './sections/contact';
@import './sections/overlay';
@import './sections/footer';