/* =============================================================================
HEADER
============================================================================= */
.header {
    position: relative;
    --header-gradient: linear-gradient(135deg, hsla(146, 73.2%, 46.9%, 60%), hsla(177, 98.9%, 35.5%, 60%));
    background: var(--header-gradient), url('../images/leaves.jpg');
    background-color: var(--accent-600);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--accent-100);
}

.skip-to-content {
    display: block;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 100;
    background: var(--accent-100);
    padding: 9px 11px;
    border-radius: 7px;
    margin-top: 12px;
    margin-left: 12px;
    transition: top .1s ease-out;
    color: var(--accent-600);
    font-weight: bold;
    font-size: 1rem;

    &:focus {
        transition: top .1s ease-in;
        top: 0;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;

    &__logo {
        display: block;
        height: 100%;
        
        & img {
            display: block;
            height: 100%;
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    &__link a {
        color: #fff;
        text-decoration: none;
        font-size: 1.5em;
        font-family: var(--monserrat);
        font-weight: bold;
        margin-left: 32px;

        &:hover {
            border-bottom: 2px solid var(--accent-100);
            border-radius: 2px;
        }
    }
}

.hero {
    margin-top: 24px;
    display: flex;
    flex-direction: column;

    &__title {
        color: #fff;
        font-family: var(--monserrat);
        font-weight: bold;
        font-size: 2.25em;
        letter-spacing: 1px;
        margin-bottom: 12px;
        max-width: 550px;
    }

    &__desc {
        color: #fff;
        font-family: var(--monserrat);
        font-weight: bold;
        font-size: 1.25em;
        max-width: 512px;
        margin-bottom: 24px;
    }

    &__call-to-action {
        display: flex;
        align-items: center;
        width: max-content;
        background: var(--grey-700);
        padding: 0.75em;
        border-radius: 12px;
        box-shadow: 0 10px 29px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
        text-decoration: none;

        & img {
            margin-right: 10px;
            height: 1.5em;
        }

        & p {
            color: var(--grey-100);
            // font-size: 18px;
            font-size: 1.125em;
            letter-spacing: 1px;
            font-weight: bold;
            font-family: var(--monserrat);
        }

    }
}

.header__wave {
    position: relative;
    top: 10px;
    margin-top: 16px;
    transform: matrix(-1,0,0,1,0,0);
}

@media screen and (max-width: 580px) {
    .header {
        font-size: 80%;
    }
}

@media screen and (max-width: 450px) {
    .hero {
        align-items: center;
        text-align: center;
    }

    .header {
        font-size: 70%;
    }
}