
/* =============================================================================
EVENTS
============================================================================= */
.events {
    background: var(--grey-100);
    padding-top: 64px;
    padding-bottom: 64px;
}

.events__wrapper {
    max-width: var(--page-max-width);
    margin: 0 auto;
    padding: 0 var(--page-gutter);
}

.events__year {
    font-size: 36px;
    font-weight: bold;
    font-family: var(--monserrat);
    margin-top: 48px;
    color: var(--grey-700);
}

.events__year:first-of-type {
    margin-top: 0;
}

.events__list {
    margin-left: 32px;
    line-height: 32px;
    color: var(--grey-700);
    font-size: 20px;
    list-style-type: square;
    list-style-position: inside;
}

@media screen and (max-width: 550px) {
    .events {
        padding: 32px 0;
    }

    .events__year {
        font-size: 30px;
    }

    .events__list {
        font-size: 18px;
    }
}
