/* =============================================================================
FONTS
============================================================================= */
/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('webfonts/montserrat/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('webfonts/montserrat/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('webfonts/montserrat/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('webfonts/montserrat/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('webfonts/montserrat/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('webfonts/montserrat/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('webfonts/montserrat/montserrat-v14-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('webfonts/montserrat/montserrat-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('webfonts/montserrat/montserrat-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('webfonts/montserrat/montserrat-v14-latin-700.woff') format('woff'), /* Modern Browsers */
        url('webfonts/montserrat/montserrat-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('webfonts/montserrat/montserrat-v14-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('webfonts/lato/lato-v16-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Lato Bold'), local('Lato-Bold'),
        url('webfonts/lato/lato-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('webfonts/lato/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('webfonts/lato/lato-v16-latin-700.woff') format('woff'), /* Modern Browsers */
        url('webfonts/lato/lato-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('webfonts/lato/lato-v16-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-regular - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('webfonts/lato/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Lato Regular'), local('Lato-Regular'),
        url('webfonts/lato/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('webfonts/lato/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('webfonts/lato/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('webfonts/lato/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('webfonts/lato/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* =============================================================================
VARIABLES AND GLOBAL STYLES
============================================================================= */
:root {
    --primary-100: hsl(146, 100%, 98%);
    --primary-200: hsl(146, 90%, 90%);
    --primary-300: hsl(146, 80%, 80%);
    --primary-400: hsl(146, 75%, 67%);
    --primary-500: hsl(146, 73.2%, 46.9%);
    --primary-600: hsl(146, 100%, 30%);
    --primary-700: hsl(146, 100%, 20%);
    --primary-800: hsl(146, 100%, 10%);
    --primary-900: hsl(146, 100%, 3%);

    --accent-100: hsl(177, 100%, 98%);
    --accent-200: hsl(177, 90%, 90%);
    --accent-300: hsl(177, 80%, 80%);
    --accent-400: hsl(177, 75%, 67%);
    --accent-500: hsl(177, 98.9%, 35.5%);
    --accent-600: hsl(177, 100%, 30%);
    --accent-700: hsl(177, 100%, 20%);
    --accent-800: hsl(177, 100%, 10%);
    --accent-900: hsl(177, 100%, 3%);

    --grey-100: hsl(240, 10%, 98%);
    --grey-200: hsl(240, 10%, 90%);
    --grey-300: hsl(240, 10%, 80%);
    --grey-400: hsl(240, 10%, 67%);
    --grey-500: hsl(240, 10%, 50%);
    --grey-600: hsl(240, 10%, 30%);
    --grey-700: hsl(240, 10%, 20%);
    --grey-800: hsl(240, 10%, 10%);
    --grey-900: hsl(240, 10%, 3%);

    --page-max-width: 1100px;
    --page-gutter: 48px;

    --lato: 'Lato', 'san-serif';
    --monserrat: 'Montserrat', 'sans-serif';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--lato);
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    background: var(--grey-100);
}

body::after {
    content: '';
    display: block;
    height: 62px;
}

@media only screen and (max-width: 820px) {
    :root {
        --page-gutter: 24px;
        --page-max-width: 600px;
    }
}

/* =============================================================================
HEADER
============================================================================= */
.header {
    --header-gradient: linear-gradient(135deg, hsla(146, 73.2%, 46.9%, 60%), hsla(177, 98.9%, 35.5%, 60%));
    color: var(--accent-100);
    background: var(--header-gradient), url('../images/leaves.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    max-width: var(--page-max-width);
    margin: 0 auto;
    padding: 16px var(--page-gutter);
}

.nav__logo {
    height: 100%;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav__link a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-family: var(--monserrat);
    font-weight: bold;
    margin-left: 32px;
}

.nav__link a:hover {
    border-bottom: 2px solid var(--accent-100);
    border-radius: 2px;
}

.hero {
    max-width: var(--page-max-width);
    padding: 0 var(--page-gutter);
    margin: 24px auto 0 auto;
}

.hero__title {
    color: #fff;
    font-family: var(--monserrat);
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.hero__desc {
    color: #fff;
    font-family: var(--monserrat);
    font-weight: bold;
    font-size: 20px;
    max-width: 512px;
    margin-bottom: 24px;
}

.hero__call-to-action {
    background: var(--grey-700);
    padding: 12px;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    box-shadow: 0 10px 29px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.hero__call-to-action span {
    display: flex;
    align-items: center;
    font-size: 18px;
    
    letter-spacing: 1px;
    font-weight: bold;
    font-family: var(--monserrat);
    color: var(--grey-100);
}

.hero__call-to-action span img {
    margin-right: 10px;
    height: 24px;
}

.header__wave {
    color: var(--grey-100);
    position: relative;
    top: 10px;
    margin-top: 64px;
    transform: matrix(-1,0,0,1,0,0);
}

@media screen and (max-width: 580px) {
    .hero__title {
        font-size: 30px;
    }

    .hero__desc {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    .nav__logo {
        height: 48px;
    }

    .nav__link a {
        font-size: 20px;
    }
    
    .hero__title {
        font-size: 24px;
        text-align: center;
    }

    .hero__desc {
        font-size: 16px;
        text-align: center;
    }

    .hero__cta-wrapper {
        display: flex;
        justify-content: center;
    }

    .hero__call-to-action {
        margin: 0 auto;
    }

    .header__wave {
        margin-top: 36px;
    }
}

/* =============================================================================
INFO
============================================================================= */
.info {
    background: var(--grey-100);
    color: var(--grey-600);
    margin-bottom: -95px;
}

.info__wrapper {
    margin: 0 auto;
    max-width: var(--page-max-width);
    padding: 0 var(--page-gutter);
    position: relative;
    top: -95px;
}

.info__section {
    display: flex;
    align-items: center;
    padding-top: 30px;   
}

.info__text--left {
    order: 1;
}

.info__text--right {
    order: 2;
}

.info__text {
    flex: 3;
}

.info__head {
    font-family: var(--monserrat);
    font-size: 28px;
    margin-bottom: 7px;
}

.info__paragraph {
    font-size: 18px;
    line-height: 32px;
}

.info__list {
    padding-left: 32px;
    margin-top: 12px;
    font-size: 18px;
    line-height: 32px;
}

.info__list li {
    margin-bottom: 4px;
}

.info__graphic--left {
    order: 1;
    margin-right: 30px;
}

.info__graphic--right {
    order: 2;
    margin-left: 30px;
}

.info__image-graphic {
    position: relative;
    top: -50px;
    flex: 3;
}

.info__sig-graphic {
    flex: 2;
}

.info__chat-graphic {
    position: relative;
    top: -70px;
    flex: 2;
    padding-top: 70px;
}

@media only screen and (min-width: 1800px) {
    .info {
        margin-bottom: -150px;
    }

    .info__wrapper {
        top: -150px;
    }
}

@media only screen and (max-width: 1100px) {
    .info {
        margin-bottom: 0;
    }
    
    .info__wrapper {
        top: 0;
        padding-bottom: 64px;
    }

    .info__image-graphic {
        top: 0;
    }

    .info__sig-graphic {
        top: 0;
    }

    .info__chat-graphic {
        top: 0;
        padding-top: 0;
    }
}

@media only screen and (max-width: 820px) {    
    .info__section {
        flex-direction: column;
        padding-top: 100px;
    }

    .info__section:first-of-type {
        padding-top: 40px;
    }

    .info__text--left {
        order: 2;
    }

    .info__graphic--right {
        order: 1;
        margin: 0;
    }

    .info__graphic--left {
        margin: 0;
    }

    .info__head {
        margin-top: 24px;
        margin-bottom: 16px;
        font-size: 24px;
    }

    .info__image-graphic {
        max-width: 400px;
        width: 100%;
    }

    .info__sig-graphic {
        max-width: 300px;
        width: 100%;
    }

    .info__chat-graphic {
        max-width: 300px;
        width: 100%;
    }
}

/* =============================================================================
BOARD
============================================================================= */
.board {
    background:
        linear-gradient(180deg, rgba(0,0,0,0) 0%, var(--grey-200) 100%),
        url('../images/lines.svg'),
        var(--grey-200);

    color: var(--grey-700);
    padding: 64px 0;
}

.board__wave {
    color: var(--grey-100);
    transform: matrix(-1,0,0,-1,0,0);
    padding-top: 70px;
    top: -7px;
    position: relative;
}

.board__head {
    font-family: var(--monserrat);
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    color: var(--grey-700);
    margin-bottom: 32px;
}

.board__subhead {
    font-family: var(--monserrat);
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 30px;
    color: var(--grey-700);
}

.board__current-members {
    max-width: var(--page-max-width);
    margin: 0 auto;
    padding: 0 var(--page-gutter);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;
}

.board__open-positions {
    max-width: calc(var(--page-max-width) - 128px);
    margin: 0 auto;
    padding: 0 var(--page-gutter);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 64px;
}

.member {
    background: var(--grey-100);
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 10px 29px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.member__wrapper {
    display: flex;
    flex-direction: column;
}

.member__top {
    display: none;
}

.member__head {
    text-align: center;
    color: var(--grey-800);
    font-size: 24px;
    font-weight: bold;
}

.member__title {
    text-align: center;
}

.member__title--open {
    font-size: 20px;
    font-weight: bold;
}

.member__sub-title {
    text-align: center;
}

.member__button {
    font-size: 14px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, var(--primary-500) 0%, var(--accent-500) 100%);
    color: var(--primary-100);
    padding: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: var(--monserrat);
    margin-top: 8px;
}

.positions__wave {
    color: var(--grey-600);
    position: relative;
    top: 7px;
    margin-top: 36px;
    padding-top: 50px;
}

@media only screen and (max-width: 820px) {
    .board__current-members {
        grid-template-columns: 1fr 1fr;
        
    }
}

@media only screen and (max-width: 600px) {
    .board__current-members {
        grid-template-columns: 1fr;
        max-width: 350px;
        gap: 0;
        box-shadow: 0 10px 29px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
        padding: 0;
        border-radius: 12px;
    }

    .member {
        border-radius: 0;
        box-shadow: none;
        border-bottom: 1px solid var(--grey-200);
    }

    .member:first-of-type {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    .member:last-of-type {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}

/* =============================================================================
POSITIONS
============================================================================= */
.positions {
    background: 
        linear-gradient(0deg, rgba(0,0,0,0) 0%,
        var(--grey-600) 100%), url('../images/lines.svg'),
        var(--grey-600);
        padding: 64px 0;
}

.positions__head {
    font-family: var(--monserrat);
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    color: var(--grey-100);
    margin-bottom: 32px;
}

.positions__open-positions {
    max-width: calc(var(--page-max-width) - 128px);
    margin: 0 auto;
    padding: 0 var(--page-gutter);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 64px;
}

.position {
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 10px 29px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(240, 10%, 40%, 100%);
    color: var(--grey-100);
}

.position__wrapper {
    display: flex;
    flex-direction: column;
}

.position__top {
    display: none;
}

.position__head {
    text-align: center;
    color: var(--grey-800);
    font-size: 24px;
    font-weight: bold;
}

.position__title {
    text-align: center;
}

.position__title--open {
    font-size: 20px;
    font-weight: bold;
}

.position__sub-title {
    text-align: center;
}

.position__button {
    font-size: 14px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, var(--primary-500) 0%, var(--accent-500) 100%);
    color: var(--primary-100);
    padding: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: var(--monserrat);
    margin-top: 8px;
}

@media only screen and (max-width: 820px) {
    .positions__open-positions {
        grid-template-columns: 1fr 1fr;
        max-width: var(--page-max-width);
    }
}

@media only screen and (max-width: 600px) {
    .positions__open-positions {
        grid-template-columns: 1fr;
        max-width: 350px;
        gap: 0;
        box-shadow: 0 10px 29px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
        padding: 0;
        border-radius: 12px;
    }

    .position {
        border-radius: 0;
        box-shadow: none;
        border-bottom: 1px solid var(--grey-600);
    }

    

    .position:first-of-type {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    .position:last-of-type {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    .position__wrapper {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .position__title {
        text-align: left;
    }

    .position__sub-title {
        text-align: left;
    }
}

/* =============================================================================
FOOTER
============================================================================= */
.footer {
    background: var(--grey-700);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer__social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 300px;
    margin: 0 auto;
    width: 50%;
    padding: 16px 0;
    font-size: 24px;
}

.social__link {
    color: var(--grey-100);
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.social__link img {
    height: 24px;
}

@media only screen and (max-width: 470px) {
    .footer__social {
        width: 90%;
    }
}

/* =============================================================================
EVENTS
============================================================================= */
.events {
    background: var(--grey-100);
    padding-top: 64px;
    padding-bottom: 64px;
}

.events__wrapper {
    max-width: var(--page-max-width);
    margin: 0 auto;
    padding: 0 var(--page-gutter);
}

.events__year {
    font-size: 36px;
    font-weight: bold;
    font-family: var(--monserrat);
    margin-top: 48px;
    color: var(--grey-700);
}

.events__year:first-of-type {
    margin-top: 0;
}

.events__list {
    margin-left: 32px;
    line-height: 32px;
    color: var(--grey-700);
    font-size: 20px;
    list-style-type: square;
    list-style-position: inside;
}

@media screen and (max-width: 550px) {
    .events {
        padding: 32px 0;
    }
    
    .events__year {
        font-size: 30px;
    }
    
    .events__list {
        font-size: 18px;
    }
}
/* =============================================================================
EVENT
============================================================================= */
.event {
    background: var(--grey-100);
    padding: 64px 0;
}

.event__wrapper {
    max-width: calc(var(--page-max-width) - 128px);
    margin: 0 auto;
    padding: 0 var(--page-gutter);
    font-size: 18px;
    color: var(--grey-600);
}

.event__wrapper img {
    max-width: 450px;
    width: 100%;
    margin: 0 auto 12px auto;
    display: block;
}

.event__wrapper p {
    margin-bottom: 12px;
    line-height: 32px;
}

.event__wrapper ul {
    list-style-position: inside;
    padding-left: 24px;
    line-height: 32px;
    margin-bottom: 12px;
}

.event__wrapper ol {
    list-style-position: inside;
    padding-left: 24px;
    line-height: 32px;
    margin-bottom: 12px;
}

.event__wrapper pre {
    background: var(--grey-200);
    padding: 16px;
    font-family: monospace;
    font-size: 16px;
    margin: 12px 0;
    overflow: auto;
}

.event__wrapper button {
    font-size: 14px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, var(--primary-500) 0%, var(--accent-500) 100%);
    color: var(--primary-100);
    padding: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: var(--monserrat);
    margin-top: 8px;
}

@media screen and (max-width: 550px) {
    .event {
        padding: 32px 0;
    }
}

@media screen and (max-width: 380px) {
    .event__wrapper {
        font-size: 16px;
        max-width: var(--page-max-width);
    }
}