.footer {
    background: linear-gradient($grey-700, $grey-700);

    &__social {
        color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 50%;
        max-width: 300px;
        margin: 0 auto;
        padding: 16px 0;
        font-size: 24px;
    }
}


.social__link {
    color: #fff;
}